
<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4 ">
      <div class="loginpage">
        <h1 class="login-title">Sign up</h1>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, placeholder: "Email", label:false,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email" }, input_html: { :class => "login-input" } %>
            <%= f.input :password, placeholder: "Password", label:false,
            required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password" }, input_html: { :class => "login-input" } %>
            <%= f.input :password_confirmation, placeholder: "Password confirmation", label:false,
            required: true,
            input_html: { autocomplete: "new-password" } %>
          </div>
          <div style="text-align:center;">
            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
            </div>
            <div class="links-container">
              <%= render "devise/shared/links" %>
            </div>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>
