<div class="container">
  <div class="confirmation-container">
    <div class="confirmation-message">
      <h1>Thank you very much for <strong class="half-highlight">your order!</strong></h1>
      <p>We are happy that you found the furniture you like!</p>
      <h5>A confirmation has been sent to <%= current_user.email %></h5>
      <p>Your furniture will de delivered to your address on <%= @booking.starts_at.strftime("%B") %> <%= @booking.starts_at.day %>, <%= @booking.starts_at.year %></p>
      <p>You are renting furniture from
            <strong><%= @booking.starts_at.strftime("%B") %>
              <%= @booking.starts_at.day %>,
              <%= @booking.starts_at.year %></strong>
            until
            <strong><%= @booking.ends_at.strftime("%B") %>
               <%= @booking.ends_at.day %>,
               <%= @booking.ends_at.year %></strong>
      </p>
    </div>
    <div class="confirmation-image">
      <%= image_tag "confirmation.svg", height: 350 %>
    </div>
  </div>

  <div class="confirm-details">
    <div class="order-confirmation">
      <strong><p class="confirm-header">Order confirmation</p></strong>
      <hr>
      <div class="order-info">
        <div class="order-address">
          <strong><p>Delivery address</p></strong>
          <p>Maximilian Gaethje<br>Marthashof 12<br>D-10435 Berlin<br>Germany</p>
        </div>
        <div class="order-num">
          <strong><p>Order number</p></strong>
          <p><%= @booking.id %></p>
        </div>
        <div class="order-date">
          <strong><p>Order date</p></strong>
          <%= Date.today.strftime("%B") %>
          <%= Date.today.day %>,
          <%= Date.today.year %>
        </div>
        <div class="order-payment">
          <strong><p>Total payment</p></strong>
          <p><%= humanized_money_with_symbol(@booking.total_amount) %></p>
        </div>
      </div>
    </div>

    <div class="renting-item">
      <strong><p class="confirm-header">Your rented items</p></strong>
      <hr>
      <div class="order-items">
        <% @items.each do |item| %>
          <div class="order-item-container">
            <div class="order-photo-container" style="background-image: url(<%= item.product.photo %>)"></div>
            <div class="order-item-desc">
              <%= item.product.name %><br>
              <p><%= humanized_money_with_symbol(item.product.price) %> per day</p>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "Rent another furniture", root_path, class: "btn btn-first btn-another" %>
    </div>


  </div>
</div>

