<div class="container">
  <h4 id="cart-header">Your shopping cart</h4>
  <p>Total renting period: <strong><%= (@booking.ends_at - @booking.starts_at + 1).to_i %> days</strong> |
  From <%= @booking.starts_at.strftime("%B") %>
        <%= @booking.starts_at.day %>,
        <%= @booking.starts_at.year %>
        until
        <%= @booking.ends_at.strftime("%B") %>
        <%= @booking.ends_at.day %>,
        <%= @booking.ends_at.year %></p>
  <hr>
  <div class="booking-flex">
    <div class="booking-flex-item">
      <% @items.each do |item| %>
        <%=link_to booking_product_booking_item_path(@booking, item.product, item), method: :delete, class: "btn-remove" do %>
          <i class="far fa-times-circle"></i>
        <% end %>
        <div class="booking-item-container">
          <div class="show-photo-container" style="background-image: url(<%= item.product.photo %>)"></div>
          <div class="show-desc">
            <div class="item-desc">
              <strong><%= item.product.name %></strong><br>
              <p>some description here</p><br>
              <p><%= humanized_money_with_symbol(item.product.price) %> per day</p>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>

    <div class="payment-sidebar">
      <h4>Order overview</h4>
      <div class="payment-detail">

        <p>Subtotal <%= humanized_money_with_symbol(@booking.items.sum { |item| item.product.price } * (@booking.ends_at - @booking.starts_at + 1).to_i) %></p>
        <p>Delivery, setup and pickup €50.00</p>
        <hr>
        <strong><p>Total <%= humanized_money_with_symbol(@booking.total_amount) %></p></strong>
        <%= link_to "Rent now", new_booking_payment_path(@booking), class: "btn btn-first btn-landing" %>
      </div>
    </div>
  </div>
</div>
