<div class="container">
  <h4 id="cart-header">Your shopping cart</h4>
  <p>Total renting period: <strong><%= (@booking.ends_at - @booking.starts_at + 1).to_i %> days</strong> |

  From <%= @booking.starts_at.strftime("%B") %>
        <%= @booking.starts_at.day %>,
        <%= @booking.starts_at.year %>
        until
        <%= @booking.ends_at.strftime("%B") %>
        <%= @booking.ends_at.day %>,
        <%= @booking.ends_at.year %></p>
  <hr>
  <div class="booking-flex">
    <div class="booking-flex-item">
      <% @items.each do |item| %>
        <%=link_to booking_product_booking_item_path(@booking, item.product, item), method: :delete, class: "btn-remove" do %>
          <i class="far fa-times-circle"></i>
        <% end %>
        <div class="booking-item-container">
          <div class="show-photo-container" style="background-image: url(<%= item.product.photo %>)"></div>
          <div class="show-desc">
            <div class="item-desc">
              <h2><strong><%= item.product.name %></strong><br></h2>
              <p> <strong><%= humanized_money_with_symbol(item.product.price * (@booking.ends_at - @booking.starts_at + 1).to_i) %></strong> in total</p><br>
            </div>
          </div>
        </div>
        <hr>
        <% end %>
      </div>
    <div class="booking-flex-item-2">
      <div class="payment-sidebar">
        <div id="button">
        </div>
        <div id="payment-detail">
          <div class="overview">
          <h4>Order overview :</h4>

          <p>Subtotal <%= humanized_money_with_symbol(@booking.items.sum { |item| item.product.price } * (@booking.ends_at - @booking.starts_at + 1).to_i) %></p>
          <p>Delivery, setup and pickup €50.00</p>
          <hr>
          <h4>Total <%= humanized_money_with_symbol(@booking.total_amount) %></h4>
          <div class="btn btn-first" id="rentnow">Rent now</div>
          </div>
          <!-- <#%= link_to "Rent now", new_booking_payment_path(@booking), class: "btn btn-first" %> -->
          <!-- </div> -->
        </div>
      </div>
      <div id="payment-container">
        <div class="credit-card">
          <h4>Purchase</h4>
          <%= form_tag booking_payments_path(@booking) do %>
          <hr>
            <article>
              <label class="amount">
                <span>Total amount: <%= humanized_money_with_symbol(@booking.total_amount) %></span>
              </label>
            </article>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="Furnie - Furniture Rental"
              data-email="<%= current_user.email %>"
              data-description="Renting furniture until <%= @booking.ends_at %>"
              data-amount="<%= @booking.total_amount_cents %>"
              data-currency="<%= @booking.total_amount.currency %>">
            </script>
          <% end %>
        </div>
        <div class="btn btn-back" id="back"><i class="fas fa-undo"></i> Back to shopping cart</div>

      </div>
      </div>
    </div>
  </div>

</div>
<script>
  x = document.getElementById("rentnow")
  y = document.getElementById("payment-container")
  z = document.getElementById("payment-detail")
  b = document.getElementById("back")
  x.addEventListener("click", function(){
    y.classList.add("payment-container-active");
    x.style.opacity = 0;
    z.style.opacity = 0;
    b.style.opacity = 1;
  })
</script>

<script>
  x = document.getElementById("back")
  y = document.getElementById("payment-container")
  z = document.getElementById("payment-detail")
  x.addEventListener("click", function(){
    y.classList.remove("payment-container-active");
    x.style.opacity = 1;
    z.style.opacity = 1;
  })
</script>
