<div class="container">
  <h4 id="cart-header">Your shopping cart</h4>
  <hr>
  <div class="booking-flex">
    <div class="booking-flex-item">
      <% @items.each do |item| %>
        <div class="booking-item-container">
          <div class="show-photo-container" style="background-image: url(<%= item.product.photo %>)"></div>
          <div class="show-desc">
            <div class="item-desc">
              <strong><%= item.product.name %></strong><br>
              <p>some description here</p><br>
              <%= humanized_money_with_symbol(item.product.price) %>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>

    <div class="payment-sidebar">
      <h4>Order overview</h4>
      <div class="payment-detail">

<!--#HAVE TO FIX PRICE -->
        <p>Subtotal <%= humanized_money_with_symbol(@booking.total_amount) %></p>
        <p>Shipping fee</p>
        <hr>
        <strong><p>Total <%= humanized_money_with_symbol(@booking.total_amount) %></p></strong>
        <%= link_to "Rent now", new_booking_payment_path(@booking), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
