<% material_options.each do |option| %>
  <% checked = params[:material] == option %>
  <label for="material<%= option %>" data-product-room= "<%= option %>" class="<%= "active" if checked %> category-label"><%= option %></label>
  <input <%= 'checked' if checked %> type="radio" class="hidden" id="material<%= option %>" value="<%= option %>" name="material"><br>
<% end %>
