  <div>
    <%= form_tag(booking_products_path(@booking), remote: true, class: "form-sidebar", method: :get) do |f| %>

      <% product_room_options = @products.map {|product| product.rooms.pluck(:name) }.flatten.uniq.sort %>
      <% product_room_options << "all" %>

      <% category_options = @products.pluck(:category).uniq.sort %>
      <% category_options << "all" %>

      <% style_options = @products.pluck(:style).uniq.sort %>
      <% style_options << "all" %>

      <% material_options = @products.pluck(:material).uniq.sort %>
      <% material_options << "all" %>

      <div class="form-tag room-category">
        <div class="label_tag search-label">
          <%= label_tag(:product_room, "ROOM") %>
          <%= image_tag "add.svg", height: 16, class: "add-button btn_rotated" %>
        </div>
        <div class="select_tag select_show" id="product-room">
          <%= render 'shared/sidebar-product-room', product_room_options: product_room_options %>
        </div>
      <hr>
      </div>

      <div class="form-tag furniture-category">
        <div class="label_tag search-label">
          <%= label_tag(:category, "FURNITURE") %>
          <%= image_tag "add.svg", height: 16, class: "add-button" %>
        </div>
        <div class="select_tag" id="product-category">
          <%= render 'shared/sidebar-product-category', category_options: category_options %>
        </div>
      <hr>
      </div>

      <div class="form-tag style">
        <div class="label_tag search-label">
          <%= label_tag(:style, "STYLE") %>
          <%= image_tag "add.svg", height: 16, class: "add-button" %>
        </div>
        <div class="select_tag" id="product-style">
          <%= render 'shared/sidebar-product-style', style_options: style_options %>
        </div>
      <hr>
      </div>

      <div class="form-tag material">
        <div class="label_tag search-label">
          <%= label_tag(:material, "MATERIAL") %>
          <%= image_tag "add.svg", height: 16, class: "add-button" %>
        </div>
        <div class="select_tag" id="product-material">
          <%= render 'shared/sidebar-product-material', material_options: material_options %>
        </div>
      <hr>
      </div>
      <%= submit_tag "ajax", class: "btn btn-first hidden", id: "hdn-submitbtn" %>
    <% end %>
  </div>

  <%= content_for(:after_js) do  %>
   <%= javascript_pack_tag "event-sidebar" %>
  <% end %>

    <%#= form_tag booking_products_path(@booking), class: "form-sidebar", method: :get do |f| %> <%#= add remote = true for AJAX %>

    <%# product_room_options = Room.pluck(:name).uniq.sort %>
    <%# product_room_options << "all" %>


      <%# category_options = @products.pluck(:category).uniq.sort %>
      <%# category_options << "all" %>

      <%# style_options = @products.pluck(:style).uniq.sort %>
      <%# style_options << "all" %>

      <%# material_options = @products.pluck(:material).uniq.sort %>
      <%# material_options << "all" %>
