<% product_room_options.each do |option| %>
  <% checked = params[:product_room] == option %>
  <label for="product_room<%= option %>" data-product-room= "<%= option %>" class="<%= "active" if checked %> category-label" ><%= option %></label>
  <input <%= 'checked' if checked %> type="radio" class="hidden" id="product_room<%= option %>" value="<%= option %>" name="product_room"><br>
<% end %>
