  <%#= raise %>
  <div>
    <%= form_tag booking_products_path(@booking), class: "form-sidebar", method: :get do |f| %>
    <% product_room_options = @products.map {|product| product.rooms.pluck(:name) }.flatten.uniq %>
    <% product_room_options << "all" %>

    <% category_options = @products.pluck(:category).uniq %>
    <% category_options << "all" %>

    <% style_options = @products.pluck(:style).uniq %>
    <% style_options << "all" %>

    <% material_options = @products.pluck(:material).uniq %>
    <% material_options << "all" %>

    <div class="form-tag room-category">
      <div class="label_tag">
        <%= label_tag(:product_room, "Room category:") %>
      </div>
      <div class="select_tag">
        <%= select_tag :product_room, options_for_select(product_room_options.sort, params[:product_room]) %>
      </div>
    </div>
    <div class="form-tag furniture-category">
      <div class="label_tag">
        <%= label_tag(:category, "Furniture category:") %>
      </div>
      <div class="select_tag">
        <%= select_tag :category, options_for_select(category_options.sort, params[:category]) %>
      </div>
    </div>
    <div class="form-tag style">
      <div class="label_tag">
        <%= label_tag(:style, "Style:") %>
      </div>
      <div class="select_tag">
        <%= select_tag :style, options_for_select(style_options.sort, params[:style]) %>
      </div>
    </div>
    <div class="form-tag material">
      <div class="label_tag">
        <%= label_tag(:material, "Material:") %>
      </div>
      <div class="select_tag">
        <%= select_tag :material, options_for_select(material_options.sort, params[:material]) %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="form form-inline">
    <%= simple_form_for(@booking, html: {class: "date-picker-index"}) do |f| %>
    <%= f.input :ends_at, as: :string, input_html: { id: "datepicker" }, label: "Change your dates" %>
    <% end %>
  </div>

  <%= content_for(:after_js) do  %>
   <%= javascript_pack_tag "event-sidebar" %>
  <% end %>
