<div class="container">
  <div class="product-container">
    <div class="sidebar">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="products-container">
     <div class="form form-inline form-change-date">
       <%= simple_form_for(@booking)  do |f| %>
         <%= f.input :starts_at, as: :string, input_html: { id: "start_date", class: "change_date" }, required: false, placeholder: "From when?", label: false %>
         <%= f.input :ends_at, as: :string, input_html: { id: "end_date", class: "change_date" }, required: false, placeholder: "Until when?", label: false %>
         <%= f.button :submit, "Change dates", class: "btn-ghost btn-change-date"%>
       <% end %>
     </div>
     <h2 class="index">FURNITURE AVAILABLE FOR RENT</h2>

     <div class="product-cards" id="products-all">
       <% @products.each do |product| %>
         <%= render 'shared/card', product: product, booking: @booking %>
       <% end %>
     </div>
     <div class="page-container"><%= paginate @products %></div>
    </div>
  </div>
</div>
